.about-you-container {
  margin-bottom: 20px;
}

.school-years {
  width: 147px;
  margin-right: 24px;
}

.status {
  width: 275px;
}

.input-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}

.section-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.about-you__header {
  margin-bottom: 16px;
}
.dependant__header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  color: #000000;
}
