select {
    background: #f2f3f7;
  border: 1px solid #ccd4e7;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 0px 15px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
}

.text-field {
  display: flex;

}

select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background: url('../../../../assets/imgs//dropdown-icon.svg') no-repeat right;
    -webkit-appearance: none;
    background-position-x: 244px;
}

.regular-text {
  margin-right: 12px;
  margin-bottom: 12px;
}