.container {
    display: flex;
    flex-direction: row;
}

.main {
    width: 608px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.content-divider {
    display: flex;
    justify-content: space-between;
}
